{% extends "home.html" %}

{% block body %}
<center><h2>Enterprise</h2>
<div class="col-8">
<table class="table table-bordered" style="background-color: rgb(90, 173, 166);color: rgb(41, 2, 41); border: white;" >
<thead>
    <tr>
    <th>Weight-Product (Kg)</th>
    <th>Price</th>
    </tr>
</thead>  
<tbody> 

<tr><td>1 Kg</td><td>100/-</td></tr>    
<tr><td>5 Kg</td><td>450/-</td></tr>
<tr><td>25 Kg</td><td>900/-</td></tr>
<tr><td>50 Kg</td><td>1700/-</td></tr>
<tr><td>1 Gg</td><td>5000/-</td></tr>
<tr><td>10 Gg</td><td>9000/-</td></tr>
<tr><td>50 Gg</td><td>40000/-</td></tr>
<tr><td>1 Ton</td><td>20000/-</td></tr>
<tr><td>50 Ton</td><td>80000/-</td></tr>

</tbody> 
</table>
</div>
</center>   
{% endblock %} 